{% extends "base.html" %}

{% block title %}
    <title>New Recipe</title>
    {% load static %}
    <script src="{% static 'recipes/js/create.js' %}" defer></script>
{% endblock %}

{% block content %}
    <form action="{% url 'submit' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        <script type="text/javascript"> var formDataJson = JSON.parse('{{ formDataJson|escapejs }}'); </script>
        <script type="text/javascript"> var blank = JSON.parse('{{ blank|escapejs }}') </script>
        <legend><h1>New Recipe</h1></legend>
        <div class="form-group">
            <label for="title">Title</label>
            <div>
                <input type="text" name="title" id="title" value="{{ formData.title|default:'' }}">
            </div>
        </div>
        <div class="form-group">
            <label for="image">Upload JPEG Image</label>
            <input type="file" id="image" name="upload" accept="image/*..." capture="camera">
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 col-form-label col-form-label">Description</label>
            <div>
                <textarea type="text" name="description" id="description" value="">{{ formData.description|default:'' }}</textarea>
            </div>
        </div>
        <div id="instruct">
            <div class="form-group" id="instruct-form" name="instructions" data-assosiated-list="instruct-list">
                    <label for="colFormLabel" class="col-2 col-form-label col-form-label">Instructions</label>
                    <div>
                        <textarea id="instruct_txt" data-assosiated-element="instruct-form" type="text" onkeydown="enter(event)" class="create-ins"></textarea>
                    </div>
                    <div class="col-4">
                        <button id="instruct_add" class="add btn btn-sm"  data-assosiated-element="instruct-form" onclick="nextItem(event)"  type="button">Add</button>
                    </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ol id="instruct-list">
                    </ol>
                </div>
            </div>

            <!-- <input type="hidden" id="instruction-submit-list" name="instruction-submit-list"> -->
        </div>
        <!-- Add Ingredient button -->
        <div class="form-group" id="ingredient-form" name="ingredients" data-assosiated-list="ingredients-list">
            <label class="col col-form-label col-form-label>">Ingredients</label>
            <div class="row" style="padding-bottom: 7px">
                <div class="col-4">
                    <input type="text" class="wide-input create-ins" placeholder="Ingredient" onkeydown="enter(event)" >
                </div>
                <div class="col-4">
                    <input type="text" placeholder="Quantity" class="create-ins" onkeydown="enter(event)" data-assosiated-element="ingredient-form">
                </div>
                <div class="col-4">
                    <select name="measurement" default="Measurement" class="ing-opt create-ins">
                        <option value="Placeholder"  selected disabled >Measurement</option>
                        {% for measurement in measurements %}
                                {% if measurement != "" %}
                                    <option value="{{measurement}}">{{measurement}}</option>
                                {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- Add button -->
             <div class="row">
                <div class="col-4">
                    <button id="ing_add" class="add btn  btn-sm" data-assosiated-element="ingredient-form" onclick="nextItem(event)" type="button">Add</button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <ol id="ingredients-list"></ol>
                </div>
            </div>

            
        </div> 
        <!-- <input type="hidden" id="ingredient-submit-list" name="ingredient-submit-list"> -->
        
        <!-- Cook time additions -->
        <div class="form-group" name="cook time">
            <label class="col col-form-label">Timings</label>
            <div class="row">
                <div class="col-4">
                    <small>Prep time</small>
                    <input type="time" placeholder="Prep time" name="prepTime" id="prepTime" value="{{ formData.prepTime|default:'00:00'}}">
                    
                    <small>Cook time</small>
                    <input type="time" placeholder="Cook time" name="cookTime" id="cookTime" value="{{ formData.cookTime|default:'00:00'}}">
                    
                </div>
            </div>
        </div>
        <div class="form-group" name="Serves">
            <label class="col col-form-label col-form-label>">Serves</label>
            <div class="row">
                <div class="col-4">
                    <input type="number" placeholder="Serves" id="serves" name="serves" value="{{ formData.serves|default:'' }}">
                </div>
            </div>
        </div>

        <div class="form-group" name="tags">
            <label class="col col-form-label" for="tags">Tags</label>
            <div class="row">
                <div class="col">
                    <input>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-3">
                    <button type="submit" value="Submit" class="btn btn-sm" style="margin-top: 8px" onkeydown="">Create Recipe</button>
                </div>
            </div>
        </div>
    </fieldset>
    </form>

    <template id="item_template">
            <li id="item">
                <div class="row">
                    <div class="col-7">
                        <!-- <label for="create_li"></label> -->
                        <p class="create_li" name="bootstrapTextbox"></p>
                        <input type='hidden' name="list">
                    </div>
                    <div class="col-3">
                        <button data-assosiated-element="item" type="button" class="btn btn-sm" onclick="remove(event)">Delete</button>
                    </div>
                </div>
            </li>
    </template>

    
{% endblock %}