{% extends "base.html" %}

{% block title %}
    <title> {{ recipe.title }} </title>
{% endblock %}

{% block content %}
    <h2>Recipes</h2>
    <dl>
        <dt>Title:</dt>
        <dd>{{ recipe.title }}</dd>
        <dt>Description: </dt>
        <dd>{{ recipe.description }}</dd>
        <dt>Instructions:</dt>
        <dd>
            <ol>
                {% for instruction in instructions %}
                    <li>{{instruction}}</li>
                {% endfor %}
            </ol>
        </dd>
        <dd>Ingredients:</dd>
        <dd>
            <ul>
                {% for ri in recipeIngredients %}
                <li>{{ ri.quantity }} {{ ri.measurement }} of {{ ri.ingredient }}</li>
                {% endfor %}
            </ul>
        </dd>
        <dt>Serves: </dt>
        <dd>
            <input id="serveAmount" class="col-1" type="number" value="{{ recipe.serves }}">
        </dd>
        <dt>Created on:  </dt>
        <dd>{{ recipe.creation_date }}</dd>
    </dl>
{% endblock %}