{% extends "base.html" %}

{% block title %}
    <title> {{ recipe.title }} </title>
{% endblock %}

{% block content %}
    <h2>Recipes</h2>
    <ul>
        <li>Title: {{ recipe.title }}</li>
        <li>Description: {{ recipe.description }}</li>
        <li>Instructions: {{ recipe.instructions }}</li>
        <li>Ingredients: </li>
        <ul>
            {% for ingredient in ingredients %}
            <li>{{ ingredient.quantity }} {{ ingredient.measurement }} of {{ ingredient.ingredient.name }}</li>
            {% endfor %}
        </ul>
        <li>Created on:  {{ recipe.creation_date }}</li>
    </ul>
{% endblock %}