{% extends "base.html" %}

{% block title %}
    <title> {{ recipe.title }} </title>
    {% load static %}
    <script type="text/javascript" src="{% static 'recipes/js/view.js' %}" defer></script>
    <script type="text/javascript">var totalTime = recipe.prep_time +  </script>
{% endblock %}

{% block content %}
    
        <div class="card">
            <div class="row row-cols-1 row-cols-sm-2 g-4 m-1">
                    
                <!--<div class="col-sm-12 col-md-6 mb-3">-->
                    <div class="col">
                        <img id="thumbnailImage" class="card-img-top rounded" src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
                    </div>
                        
                            <div class="col">
                                <h3 class="card-title">{{ recipe.title }}</h2>
                                <p class="card-text">{{ recipe.description }}</p>
                                <dd>Author Placeholder</dd>
                                <dd>Time: <time>{{ recipe.timeH }} Hours {{recipe.timeM }} Minutes</time></dd>
                                <dd>Serves: <input id="serveDisplay" class="col-3" type="number" value="{{ recipe.serves }}" initialValue="{{ recipe.serves }}" onchange="updateValues()" min="1" max="100"></dd>
                            </div>    

                            <div class="col">
                                <h4 class="card-h">Instructions</h4>
                                <ul class="list-group list-group-flush">
                                    {% for instruction in instructions %}
                                            <li class="list-group-item">{{instruction}}</li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="col">
                                <h4 class="card-h">Ingredients</h4>
                                <ul class="list-group list-group-flush">
                                    {% for ri in recipeIngredients %}
                                        <li id="ingredient_list" class="list-group-item">
                                            <span id="quantity" class="quants" value="{{ ri.quantity }}">{{ ri.quantity }} </span><span>{{ ri.measurement }} of {{ ri.ingredient.name }}</span> 
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>   
                </div>
        </div>
             
{% endblock %}