

body {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    background-color: #ebded5;
    font-size: x-small;
    color: #393734;
    max-width: 100%;
}

header {
    padding-left: 2px;
    padding-right: 2px;

}


.left-border, .right-border{
    height: 100vh;
    width: 10%;
}

.main-content{
    box-sizing: border-box;
    width: 80%;
}



#title {
    font-size: x-large !important;
}

.top-button {
    color: #393734;
    border-color: black;
}

.create_li{
    word-break: break-all;
    overflow-wrap: break-word;
    list-style-type: none;
    
}


input, textarea{
    width: 100%;
}



.topbar {
    border-bottom: 2px solid #716a64;
}

ol#instruct-list, ol#ingredients-list {
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside; /* Optional, controls where list markers are rendered */
}

.hdr{
    background-color: #ebded5 ;
}

.header-main-stack{
    display: flex;
    flex-direction: column;
}


.viewHeader{
    text-align: center;
}

/*img{
    max-width: 85%;
    height: auto;
}*/

#thumbnailImage{
    float: center;
}

#creationDate{
    font-size: x-small;
}

#centerPoints{
    align-items: center;
    text-align: center;
}

.iandi{
    padding-top: 30px;

}

.img-thumbnail{
    max-width: 100%;
    height: auto;
}





